{% extends "base.html" %}

{% block content %}
  <!-- expert section -->
  <section class="expert_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          LOOKING FOR EXPERTS?
        </h2>
        <p>
          Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla
          mauris iaculis. Erat eget vitae malesuada, tortor tincidunt porta lorem lectus.
        </p>
      </div>
      <div class="row">
        {% for expert in experts %}
          <div class="col-md-6 col-lg-4 mx-auto">
            <div class="box">
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/' + expert.image_filename) }}" alt="Expert Image">
              </div>
              <div class="detail-box">
                <a href="">
                  {{ expert.name }}
                </a>
                <h6 class="expert_position">
                  <span>
                    {{ expert.position }}
                  </span>
                  <span>
                    {{ expert.jobs_done }} Jobs Done
                  </span>
                </h6>
                <span class="expert_rating">
                  {% for _ in range(expert.rating | int) %}
  <i class="fa fa-star" aria-hidden="true"></i>
{% endfor %}
                </span>
                <p>
                  {{ expert.description }}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- end expert section -->
{% endblock %}

</body>

</html>
